<?xml version="1.0" encoding="utf-8" ?>
<suite name="Tests" parallel="false" verbose="3">

    <test name="test">
        <classes>
            <class name="testCase.ReadFile">
                <methods>
                    <include name="readJsonFile"/>
                    <include name="readJsonFile1"/>
                </methods>
            </class>
        </classes>
    </test>


   <listeners>
        <listener class-name="listener.extentReports.ExtentTestNGIReporterListener"/>
        <listener class-name="listener.extentReports.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>